@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: local("HelveticaNeueCyr-Light"),
        url("./../fonts/HelveticaNeueCyr-Light.woff") format("woff");
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100%;
}

body.white {
	background: linear-gradient(106.19deg, #2DF91B 3.41%, #3E5BF6 50.49%, #2DF91B 98.56%) no-repeat;
	background-size: 300%;

	animation: Gradient 20s linear infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 30%
	}
	50% {
		background-position: 90% 45%
	}
	100% {
		background-position: 0% 30%
	}
}

body.white>.header {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

body.black {
    background: url('./../img/black.jpg') no-repeat;
    background-size: cover;
}

body.black>.header {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 90%;
    min-width: 1000px;
}

.header-wrapper-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 45px;
    height: 45px;
    margin-right: 25px;
}

.header-logo>a>img {
    width: 45px;
    height: 45px;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-li {
    list-style: none;
}

.header-li:not(:last-child) {
    margin-right: 10px;
}

.header-li-a {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: color 400ms ease-out;
}

.header-li-a:hover {
    color: #fff;
}

.header-li-a.active {
    color: #fff;
}

.header-wrapper-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    margin-right: 35px;
}

.icon-moon, .icon-sun {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.icon-moon.not-visible, .icon-sun.not-visible {
    display: none;
}

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user-photo {
    height: 100%;
    max-height: 45px;
    width: 45px;
    border-radius: 100px;
    margin-right: 10px;
}

.header-user-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-right: 10px;
}

.icon-strela {
    width: 15px;
    height: 10px;
}

.section-venibot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-venibot-wrapper {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.venibot-title-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section-venibot-title {
    text-align: center;
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 138px;
}

.section-venibot-span {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 50px;
}

.venibot-buttons {
    width: 320px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-opportunities {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-opportunities.black {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.section-opportunities.white {
    background: rgba(0, 0, 0, 0.12);
}

.section-opportunities-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.underline-100.visible {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fff;
}

.underline-70.visible {
    width: 70%;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fff;
}

.dn {
    display: none;
}