@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: local("HelveticaNeueCyr-Light"),
        url("./../fonts/HelveticaNeueCyr-Light.woff") format("woff");
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body.white {
    background: linear-gradient(110.81deg, #2DF91B 0%, #3E5BF6 99.98%, rgba(11, 51, 247, 0.0764754) 99.99%, rgba(10, 45, 254, 0.046875) 100%, rgba(9, 33, 240, 0.00520833) 100.01%, #3E5BF7 100.02%) no-repeat;
    background-size: cover;
}

body.white>.header {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

body.black {
    background: url('./../img/black.jpg');
    background-size: cover;
}

body.black>.header {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    width: 90%;
    min-width: 1000px;
}

.header-wrapper-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 45px;
    height: 45px;
    margin-right: 25px;
}

.header-logo>a>img {
    width: 45px;
    height: 45px;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-li {
    list-style: none;
}

.header-li:not(:last-child) {
    margin-right: 10px;
}

.header-li-a {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: color 400ms ease-out;
}

.header-li-a:hover {
    color: #fff;
}

.header-li-a.active {
    color: #fff;
}

.header-wrapper-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    margin-right: 35px;
}

.icon-moon, .icon-sun {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.icon-moon.not-visible, .icon-sun.not-visible {
    display: none;
}

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user-photo {
    height: 100%;
    max-height: 45px;
    width: 45px;
    border-radius: 100px;
    margin-right: 10px;
}

.header-user-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-right: 10px;
}

.icon-strela {
    width: 15px;
    height: 10px;
}

.underline-100.visible {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fff;
}

.dn {
    display: none;
}